<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
  <test name="groupingtest">

 <groups>
     
     <run>
         <exclude name="sanity"/>
         <include name="regression"/>
         
     </run>
     
     
 </groups>

      <classes>
          <class name="com.class04.GroupingExample"/>



        </classes>

    </test>

</suite>